@{
    Layout = "_LayoutSBAdmin";
    ViewData["Title"] = "Chart Karyawan";
}
@section Header{
    <div class="row mb-3">
        <div class="col-sm-4">
            <h1>Employees Chart </h1>
        </div>
        <div class="col-sm-8"></div>
    </div>
}

@*body*@
<div class="row">
    @*Chart Line*@
    <div class="col-lg-4 m-1">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h1>Chart Year BirdthDate</h1>
            </div>
            <div class="card-body">
                <div id="chartLineAge">

                </div>
            </div>
        </div>
    </div>
    @*Chart Line*@
    <div class="col-lg-4 m-1">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h1>Gender Summary</h1>
            </div>
            <div class="card-body">
                <div id="chartPieGender">

                </div>
            </div>
        </div>
    </div>
    @*Chart Bar*@
    <div class="col-lg-4 m-1">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h1>Gender Summary</h1>
            </div>
            <div class="card-body">
                <div id="chartBar">

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/ChartEmp/ChartHelper.js" ></script>
    <script src="~/js/ChartEmp/ChartConsume.js" ></script>
}
