@{
    Layout = "_LayoutLatihan";
}
<div class="javaScriptExercise">
    <div class="row">
        <section class="headerbar">...</section>
        <section class="thumbnail ">
            <div class="cycleFrame wow slideInRight">
                <img src="https://cdn.dribbble.com/users/264162/screenshots/16734417/media/282a4351c33576bb1d47b05b59e24a52.png?compress=1&resize=1200x900&vertical=top"
                     alt="Lama" />
            </div>
            <h1 class="title-thumbnail">
                Amet Consectetur
            </h1>
            <p class="desc-thumbnail">
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            </p>
        </section>
        <section class="menubox">
            <h1 class="title-menubox">
                @*MENU TITLE*@
            </h1>
            <ul id="menues" class="menues">
                <li class="box">HOME</li>
                <li class="box">ANIMAL'S</li>
                <li class="box">CAT</li>
            </ul>
        </section>
        <section class="expandList">
            <h1 class="title-menubox">
                Animal's List
            </h1>
            <ul class="List ">
            </ul>

        </section>
    </div>

</div>
