
@{
    Layout = "_LayoutLatihan";
}
<div class="exercise">
    <div class="row">
        <h1 id="judul" class="judul">Ini Judul</h1>
        <h1 id="judul2" class="judul2">Ini Judul2</h1>
        <div class="container">
            <section id="a">
                <p class="p1">Paragraph1</p>
                <a href="">ini lik</a>
                <p class="p2">Paragraph2</p>
                <p class="p3">Paragraph3</p>
                <ul>
                    <li class="list">testing</li>
                    <li class="list">testing</li>
                    <li class="list">testing</li>
                </ul>
            </section>
            <section id="b">
                <p class="p2">Paragraph2</p>
                <p id="a">Paragraph 4</p>
                <ul id="a" class="a">
                    <p class="p2">Paragraph2</p>
                    <li class="p2">testing</li>
                </ul>
                <ul>
                    <li class="list">testing</li>
                    <li class="list">testing</li>
                    <li class="list">testing</li>
                </ul>
                <p id="paragraf1" class="paragraf">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </section>
        </div>

    </div>

</div>
