@{
    Layout = "_LayoutSBAdmin";
    ViewData["Title"] = "Report";
}
@section Header{
    <div class="row mb-3">
        <div class="col-sm-4">
            <h1 class="h2">Employees Report</h1>
        </div>
        <div class="col-sm-8"></div>
    </div>
}

<div class="row mb-4 justify-content-center">
    @*Chart Line*@
    <div class="col-lg-5 m-1 mb-1">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h1>Chart BirdthDate</h1>
            </div>
            <div class="card-body">
                <div id="chartLineAge">

                </div>
            </div>
        </div>
    </div>
    @*Chart Line*@
    <div class="col-lg-5 m-1">
        <div class="card shadow h-100 mb-1">
            <div class="card-header py-3">
                <h1>Gender Summary</h1>
            </div>
            <div class="card-body">
                <div id="chartPieGender">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 m-1">
        <div class="card shadow h-100 mb-1">
            <div class="card-header py-3">
                <h1>Salary Count</h1>
            </div>
            <div class="card-body">
                <div id="chartPieSalary">

                </div>
            </div>
        </div>
    </div>
    @*Chart Bar*@
    <div class="col-lg-5 m-1 mb-1">
        <div class="card shadow h-100">
            <div class="card-header py-3">
                <h1>BirdthDate Year</h1>
            </div>
            <div class="card-body">
                <div id="chartBar">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/Helper/Curency.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/ChartEmp/ChartHelper.js"></script>
    <script src="~/js/Employees/chart.js"></script>

}
